@import "tailwindcss";

:root {
  --max-width: 1820px;
  --small-max-width: 1320px;

  --primary-bg-color: #18191a;
  --secondary-bg-color: #242526;

  --gray: #aaa;
  --dark-gray: #454546;
  --blue-gray: #212529;
  --blue: #0d6efd;
  --dark-blue: #0b5ed7;
}

/* tailwind variables */
@theme inline {
  --color-primary-bg-color: var(--primary-bg-color);
  --color-secondary-bg-color: var(--secondary-bg-color);

  --color-gray: var(--gray);
  --color-dark-gray: var(--dark-gray);
  --color-blue-gray: var(--blue-gray);
  --color-blue: var(--blue);
  --color-dark-blue: var(--dark-blue);

  --spacing-max-width: var(--max-width);
  --spacing-small-max-width: var(--small-max-width);
  --breakpoint-xs: 25rem; /* 400px */
}

body {
  background-color: var(--primary-bg-color);
}

@media screen and (max-width: 1800px) {
  :root {
    --max-width: 92vw;
  }
}

@media screen and (max-width: 1400px) {
  :root {
    --small-max-width: 92vw;
  }
}
