@import "tailwindcss";

:root {
  --max-width: 1820px;
  --small-max-width: 1320px;

  --primary-bg-color: #18191a;
  --secondary-bg-color: #242526;

  --gray: #aaa;
  --dark-gray: #454546;
  --blue-gray: #212529;

  --blue: #0d6efd;
  --dark-blue: #0b5ed7;

  --orange: #ff7f00;
  --red: #e92f2f;
}

/* tailwind variables */
@theme inline {
  --color-primary-bg-color: var(--primary-bg-color);
  --color-secondary-bg-color: var(--secondary-bg-color);

  --color-gray: var(--gray);
  --color-dark-gray: var(--dark-gray);
  --color-blue-gray: var(--blue-gray);

  --color-blue: var(--blue);
  --color-dark-blue: var(--dark-blue);

  --color-orange: var(--orange);
  --color-red: var(--red);

  --spacing-max-width: var(--max-width);
  --spacing-small-max-width: var(--small-max-width);
  --breakpoint-xs: 25rem; /* 400px */
}

body {
  background-color: var(--primary-bg-color);
}

@media screen and (max-width: 1800px) {
  :root {
    --max-width: 92vw;
  }
}

@media screen and (max-width: 1400px) {
  :root {
    --small-max-width: 92vw;
  }
}

.loader-container {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loader {
  fill: none;
  stroke: var(--blue);
  stroke-width: 3;
  stroke-dasharray: 2, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}
